body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage-button {
  display: inline-block;
  font-size: 25px;
  font-family: Raleway;
  border: 1px solid #14337F;
  text-align: center;
  min-width: 300px;
  margin: 10px;
  padding: 5px;
  border-radius: 14px;
  box-shadow: 0 0 5px black;
  background-color: #14337F;
  color: white;
  
}

.homepage-button:hover {
  box-shadow: 0 0 10px black;
  text-decoration: none;
  color: white;
}

.homepage-logo {
  width: 400px;
  margin-top: 80px;
  margin-bottom: 20px
}

.authentication-titles {
  border-bottom: 1px solid black;
  width: 80%;
  margin: 20px 0 20px 0;
  padding: 20px;
}