body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage-button {
  display: inline-block;
  font-size: 25px;
  font-family: Raleway;
  border: 1px solid #14337F;
  text-align: center;
  min-width: 300px;
  margin: 10px;
  padding: 5px;
  border-radius: 14px;
  box-shadow: 0 0 5px black;
  background-color: #14337F;
  color: white;
  
}

.homepage-button:hover {
  box-shadow: 0 0 10px black;
  text-decoration: none;
  color: white;
}

.homepage-logo {
  width: 400px;
  margin-top: 80px;
  margin-bottom: 20px
}

.authentication-titles {
  border-bottom: 1px solid black;
  width: 80%;
  margin: 20px 0 20px 0;
  padding: 20px;
}

.authentication-subtitles {
  margin: 20px 0 20px 0;
}

.navbar-image {
  width: 150px
}

.buttonChecked {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  width: 33%;
  height: 40px;
  margin: 1px;
}

.buttonUnchecked {
  width: 33%;
  height: 40px;
  margin: 1px;
}


.signup-page-options {
  width: 60%;
  margin-top: 100px
}

.signup-page-title {
  margin-bottom: 50px;
  padding: 20px;
  border-bottom: 1px solid black;
}

.interests-form {
  margin-top: 80px
}

.interests-form-submit-button {
  margin-top: 20px;
  width: 150px
}